* {
    margin: 0;
    padding: 0;
}
#app10 {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #eee;
}

#bag {
    width: 200px;
    height: 510px;
    background-repeat: no-repeat;
    background-image: url(./img/bag.png);
    margin: 0 auto;;
}

#bag.broke {
    background-image: url(./img/bag-broke.png);
}

#bag-stamina {
    width: 200px;
    margin: 20px auto;
    border: 2px solid black;
}

#bag-stamina div {
    background-color: crimson;
    height: 20px;
}